name: NestJS CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Build application
      run: npm run build

    - name: Build Docker image
      run: docker build -t sharestuff-api-ci .

    - name: Run container
      run: |
        docker run -d --name sharestuff-ci \
          -p 3000:3000 \
          -e NODE_ENV=ci \
          -e PORT=3000 \
          -e ENABLE_DB=false \
          -e ENABLE_MAILER=false \
          -e ENABLE_AUTH=false \
          sharestuff-api-ci

    - name: Show running containers
      run: docker ps -a

    - name: Wait for app to start
      run: sleep 20

    - name: Show container logs
      run: docker logs sharestuff-ci || true

    - name: Health check
      run: curl -f http://localhost:3000/health
